.about .header-section-main {
  height: 584px;
  background-image: url('./images/about-header.jpg');
  background-size: cover;
  background-position: 20% 61%;
}

.vertical-line {
  height: 47px;
  border-left: 2px solid #AD8C63;
}

.about-content .content-section img {
  height: 212px;
  width: 214px;
}

a.underlined {
  border-bottom: 1px solid #FFFAEC;
}

.about .header-section-text {
  text-shadow: 1px 1px 1px #AD8C63;
}