.panel-header img {
  object-fit: cover;
}

.chufly-imports {
  background-image: url('./images/backgrounds/Chufly Imports.png');
}

.kevin-zraly {
  background-image: url('./images/backgrounds/Kevin Zraly.png');
}

.oyster-sunday {
  background-image: url('./images/backgrounds/Oyster Sunday.png');
}

.vin-social {
  background-image: url('./images/backgrounds/Vin Social.png');
}

.thatcher-wine {
  background-image: url('./images/backgrounds/Thatcher.png');
}

.mezcal-som {
  background-image: url('./images/backgrounds/Mezcal.png');
}

.new-deal {
  background-image: url('./images/backgrounds/NDH.png');
  background-position: 10% 45%;
}

.brown-marketing {
  background-image: url('./images/backgrounds/Brown Marketing.png');
  background-position: center;
}

.portfolio-content {
  background: url('./images/backgrounds/Case Studies Image.png');
  background-size: cover;
  background-position: 50% 75%;
}

.portfolio-content .porfolio-text {
  height: 370px;
}

.panel-section a {
  display: none;
}

.panel-section:hover a {
  display: block;
  background: #AD8C63;
}
