.case-studies-section .image-section {
  width: 600px;
  /*background-image: url('../images/case-studies.jpg');*/
  display: flex;
  align-items: center;
}

.case-studies-section .header-box {
	margin: 0 60px;
	font-size: 66px;
	color: #ffffff;
	padding: 48px 64px;
}

.case-studies-section .text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 800px;
  height: 100%;
  font-size: 25px;
  margin: 0 45px;
}

.case-studies-section .text-content.heavy {
  font-size: 45px;
  margin-bottom: 40px;
}
