.clients-section .image-section {
  width: 576px;
  /*background-image: url('../images/clients-bg.JPG');*/
  display: flex;
  align-items: center;
}

.clients-section .header-box {
	margin: 0 60px;
	font-size: 80px;
	color: #ffffff;
	padding: 48px 64px;
}

.clients-section .text-section {
	display: flex;
	align-items: center;
	margin-left: 100px;
}

.clients-section .text-content {
	text-align: left;
	width: 440px;
}

.clients-section .text-title {
  font-size: 33px;
  font-weight: bold;
  letter-spacing: 5px;
}

.clients-section .text-item {
  font-size: 25px;
  line-height: 36px;
  padding-top: 10px;
}

.client-logo {
	width: 180px;
	height: 180px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-right: 100px;
}
/*
.client-logo.chufly {
	background-image: url('../images/chufly.png');
}
.client-logo.kevin-zraly {
	background-image: url('../images/kevin-zraly.jpg');
}
.client-logo.oyster-sunday {
	background-image: url('../images/oyster-sunday.jpg');
}
.client-logo.vin-social {
	background-image: url('../images/vin-social.png');
}

*/