.overlay-container {
  position: fixed;
  height: 100vh;
  width: 100%;
}

.overlay-container .bg-home {
  position: fixed;
  z-index: -10;
  filter: blur(1px) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.main .overlay {
  position: fixed;
  background: rgba(107, 85, 56, 0.45);
}

.main-content {
  position: fixed;
  z-index: 3;
}