.panel-section {
  height: 466px;
}

.oyster-sunday {
  background: url('../images/about-splash.jpg');
  background-size: cover;
  /*height: ;*/
}

.portfolio-content {
  background: url('../images/kingston-bg.jpeg');
  background-size: cover;
}

.portfolio-content .porfolio-text {
  height: 425px;
}

.portfolio-content .button {
  font-size: 18px;
  padding: 10px 58px;
}