.services-section .image-section {
  width: 565px;
  background-image: url('../images/services-img.PNG');
  display: flex;
  align-items: center;
}

.services-section .image-section .header-box {
  font-size: 80px;
  text-align: center;
  color: #ffffff;
  margin: 0 40px;
  padding: 50px 43px;
  letter-spacing: 2px;
}

.services-section .text-content {
  text-align: left;
  margin: 24px 0;
}

.services-section .text-title {
  font-size: 33px;
  font-weight: bold;
  letter-spacing: 5px;
}

.services-section .text-item {
  font-size: 25px;
  padding-top: 10px;
}

