.bg-cream {
  background-color: #FFFAEC;
}

.bg-red {
  background-color: #844646;
}

.bg-inherit {
  background: inherit;
}

.font-secondary {
  font-family: 'Gotham Book Regular';
}

.text-primary {
  color: #AD8C63;
}

.text-secondary {
  color: #FFFAEC;
}

.text-red {
  color: #844646;
}

button:focus {
  outline: none;
}
