.App {
  text-align: center;
}

header.header-section {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
}

.name-section {
  display: flex;
  align-items: center;
}

.name-section i {
  margin: 0 4px;
}

.header-section .tabs-section span {
  padding: 0 8px;
}

.body {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
