@font-face {
  font-family: "Aileron-Regular";
  src: local("Aileron-Regular"),
    url("./assets/fonts/Aileron-Regular.otf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Aileron-Heavy";
  src: local("Aileron-Heavy"),
    url("./assets/fonts/Aileron-Heavy.otf") format("truetype");
  font-weight: normal;
}

body {
  margin: 0;
  font-family:'Aileron-Regular', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
