.light .footer-line {
  border-bottom: 2px solid #FFFAEC;
}

.sand .footer-line {
  border-bottom: 2px solid #AD8C63;
}

.red .footer-line {
  border-bottom: 2px solid #844646;
}

.button {
  width: fit-content;
}
